---
# yamllint disable rule:line-length
services:
  message-queue:
    profiles: [demo, dev]
    image: "${MESSAGE_QUEUE_DOCKER_IMAGE:-nats:alpine}"  # need alpine since latest is based on scratch (no wget available)
    volumes:
      - ./nats-server.conf:/etc/nats/nats-server.conf
    healthcheck:
      test: wget -O /dev/null http://localhost:8222/varz || exit 1
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
  # This is actually unused but required to not break all the other compose files requiring this service...
  cache:
    profiles: [demo, dev]
    image: "${MESSAGE_QUEUE_DOCKER_IMAGE:-nats:alpine}"
    healthcheck:
      test: wget -O /dev/null http://localhost:8222/varz || exit 1
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
  task-manager:
    profiles: [dev]
    image: "${TASK_MANAGER_DOCKER_IMAGE:-prefecthq/prefect:3.0.3-python3.12}"
    command: prefect server start --host 0.0.0.0 --ui
    environment:
      PREFECT_API_DATABASE_CONNECTION_URL: postgresql+asyncpg://postgres:postgres@task-manager-db:5432/prefect
      PREFECT_LOCAL_STORAGE_PATH: ${PREFECT_LOCAL_STORAGE_PATH:-/opt/prefect/}
      PREFECT_WORKER_QUERY_SECONDS: 3
      PREFECT_AGENT_QUERY_INTERVAL: 3
    healthcheck:
      test: /usr/local/bin/httpx http://localhost:4200/api/health || exit 1
      interval: 5s
      timeout: 5s
      retries: 20
      start_period: 10s
    depends_on:
      - task-manager-db
  task-manager-db:
    profiles: [dev]
    image: postgres:16-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=prefect
    volumes:
      - workflow_db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  workflow_db:
