{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:cypress/recommended",
    // "plugin:prettier/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "unused-imports"
  ],
  "ignorePatterns": [
    "tsconfig.json"
  ],
  "rules": {
    "quotes": [
      "error",
      "double"
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "no-return-assign": [
      0
    ],
    "no-underscore-dangle": [
      0
    ],
    "no-tabs": [
      0
    ],
    "no-confusing-arrow": [
      0
    ],
    "no-case-declarations": [
      0
    ],
    "react/display-name": [
      0
    ],
    "import/no-relative-packages": [
      0
    ],
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "unused-imports/no-unused-imports-ts": 2,
    "semi": "error",
    "no-trailing-spaces": "error"
    // "indent": [
    //   "error",
    //   2,
    //   {
    //     "SwitchCase": 1,
    //     "MemberExpression": 2
    //   }
    // ]
  }
}
