---
label: Node
layout: default
order: 900
---
{% macro attribute_constraints(attr) -%}
{% if attr.regex %} Regex: `{{attr.regex}}`{% endif %}{% if attr.regex or attr.min_length or attr.max_length %}<br>{% endif %}{% if attr.min_length or attr.max_length %} Lenght: min {{attr.min_length | default("-")}}, max {{attr.min_length | default("-")}}{% endif %}
{%- endmacro %}
# Node

Below is the list of all available options to define a node in the schema
{% for attr in schema.nodes[0].attributes -%}
## {{ attr.name }}

| -- | -- | { class="compact" }
| ---- | --------------- |
| **Name** | {{ attr.name }} |
| **Kind** | `{{ attr.kind }}` |
| **Description** | {{ attr.description }} |
| **Constraints** | {{attribute_constraints(attr)}} |
{% if attr.enum -%}
| **Accepted Values** | {% for value in  attr.enum %}`{{ value }}` {% endfor %} |
{%- endif %}

{% endfor %}
{% for rel in schema.nodes[0].relationships -%}
## {{ rel.name }}

| -- | -- | { class="compact" }
| ---- | --------------- |
| **Name** | {{ rel.name }} |
| **Kind** | {% if rel.cardinality == "one" %}`Object`{%else%}`List`{%endif%} |
| **Description** | {{ rel.description }} |

{% endfor %}
