{%- macro attribute_constraints(attr) -%}
{% if attr.regex %} Regex: `{{attr.regex}}`{% endif %}{% if attr.regex or attr.min_length or attr.max_length %}<br>{% endif %}{% if attr.min_length or attr.max_length %} Lenght: min {{attr.min_length | default("-")}}, max {{attr.min_length | default("-")}}{% endif %}
{%- endmacro -%}
# Schema

## Node, Attributes and Relationships


| Name | Description | Kind | Constraints |
| -- | -- | -- | -- | -- |
{% for attr in schema.nodes[0].attributes -%}
| {{ attr.name }} | {{ attr.description }} | {{ attr.kind }} | {{attribute_constraints(attr)}} |
{% endfor %}


### Attribute Kind

| 
| 



### Relationship Kind




## Generics & Groups

