.coverage
coverage.xml
*.pyc
*.env
script.py
**/*.local.*
.vscode/settings.json
node_modules/*
development/docker-compose.override.yml
development/docker-compose.dev-override.yml
.DS_Store
.python-version
.ruff_cache
**/.ruff_cache
**/.idea/**

# Direnv files (https://direnv.net/)
.direnv/
.envrc

# Retype App
.retype/*
docs/.retype
retype.manifest

storage/*
.coverage.*
python_sdk/dist/*
