[tool.poetry]
name = "infrahub"
version = "0.9.0"
description = ""
authors = ["OpsMill <info@opsmill.com>"]

packages = [
    { include = "infrahub", from = "backend" }
]

[tool.poetry.dependencies]
python = "^3.8, < 3.12"
infrahub-sdk = {path = "python_sdk", develop=true}
pydantic = "^1.10"
fastapi-storages = "~0.2"

[tool.poetry.group.server.dependencies]
fastapi = "~0.95"
starlette-exporter = "^0.12.0"
python-multipart = "^0.0.6"         # Required by FastAPI to upload large files
asgi-correlation-id = "4.2.0"       # Middleware for FastAPI to generate ID per request
bcrypt = "~4.1"                     # Used to hash and validate password
pyjwt = "~2.8"                      # Used to manage JWT tokens
uvicorn = {version = "~0.21", extras = ["standard"]}
gunicorn = "^20.1"
graphene = "~3.2"
neo4j = "~5.12"
aio-pika = "~9.3"
structlog = "^22.3.0"
boto3 = "~1.33.11"
email-validator = "~2.1"
redis = { version = "^5.0.0", extras = ["hiredis"]}
opentelemetry-api = "~1.21"
opentelemetry-sdk = "~1.21"
opentelemetry-instrumentation-fastapi = "^0.42b0"
opentelemetry-exporter-otlp-proto-http = "~1.21"
opentelemetry-exporter-otlp-proto-grpc = "~1.21"

[tool.poetry.group.dev.dependencies]
pytest = "*"
yamllint = "*"
pylint = "*"
mypy = "*"
ipython = "~8"
pytest-asyncio = "^0.21.1"
pytest-httpx = "~0.21"      # Latest version with Python 3.8 support
pytest-clarity = "~1.0"
pytest-cov = "~4.1"
pytest-xdist = "~3.4"
types-python-slugify = "^8.0.0.3"
pre-commit = "^2.20.0"
autoflake = "*"
types-toml = "*"
types-ujson = "*"
types-pyyaml = "*"
typer-cli = "*"
ruff = "0.1.8"
buildkite-test-collector = "^0.1.7"
invoke = "2.2.0"

[tool.poetry.scripts]
infrahub = "infrahub.cli:app"
infrahub-git-credential = "infrahub.git_credential.helper:app"
infrahub-git-askpass = "infrahub.git_credential.askpass:app"


[tool.coverage.run]
branch = true

[tool.coverage.report]
exclude_lines = [
    "if TYPE_CHECKING:",
    "raise NotImplementedError()"
]

[tool.pylint.general]
extension-pkg-whitelist = [
    "pydantic",
    "ujson",
]

[tool.pylint.format]
disable = "logging-fstring-interpolation"

[tool.pylint.basic]
# No docstrings required for private methods (Pylint default), or for test_ functions.
no-docstring-rgx="^(_|test_)"

[tool.pylint.messages_control]
# Line length is enforced by Black, so pylint doesn't need to check it.
# Pylint and Black disagree about how to format multi-line arrays; Black wins.
disable = """,
    line-too-long,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    consider-using-from-import,
    invalid-name,
    too-many-arguments,
    too-many-locals,
    keyword-arg-before-vararg,
    too-few-public-methods,
    too-many-instance-attributes,
    fixme,
    consider-using-f-string,
    protected-access,
    import-self,
    wrong-import-order,
    """

[tool.pylint.miscellaneous]
notes = """,
    FIXME,
    XXX,
    """

[tool.pylint.similarities]
min-similarity-lines = 20

[tool.pytest.ini_options]
asyncio_mode = "auto"
testpaths = [
    "tests"
]
filterwarnings = [
    "ignore:Module already imported so cannot be rewritten",
    "ignore:the imp module is deprecated",
    "ignore:Deprecated call to",
]
addopts = "-vs --cov-report term-missing --cov-report xml --dist loadscope"


[tool.mypy]
pretty = true
ignore_missing_imports = true
exclude = "^backend/tests/"

[[tool.mypy.overrides]]
module = "infrahub.*"
disallow_untyped_defs = true

[[tool.mypy.overrides]]
module = "infrahub.api.artifact"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.api.background"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.api.diff.diff"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.api.exception_handlers"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.api.query"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.api.schema"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.api.storage"
ignore_errors = true


[[tool.mypy.overrides]]
module = "infrahub.api.transformation"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.auth"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.account"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.attribute"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.branch"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.initialization"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.manager"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.node"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.node.base"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.node.standard"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.property"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query.attribute"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query.branch"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query.diff"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query.node"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query.relationship"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query.standard_node"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query.subquery"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.query.utils"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.registry"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.relationship"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.schema"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.schema_manager"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.core.utils"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.config"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.database"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.exceptions"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.git.repository"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.git_credential.askpass"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.git_credential.helper"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.graphql.*"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.lock"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.message_bus"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.message_bus.operations.*"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.message_bus.rpc"
ignore_errors = true


[[tool.mypy.overrides]]
module = "infrahub.server"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.tasks.registry"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.test_data.*"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.trace"
ignore_errors = true

[[tool.mypy.overrides]]
module = "infrahub.types"
disallow_untyped_defs = false


[tool.ruff]
line-length = 120

exclude = [
        ".git",
        ".tox",
        ".venv",
        "env",
        "_build",
        "build",
        "dist",
        "examples",
]

task-tags = [
    "FIXME",
    "TODO",
    "XXX",
]

[tool.ruff.lint]
preview = true

select = [
    # mccabe complexity
    "C90",
    # pycodestyle errors
    "E",
    # pycodestyle warnings
    "W",
    # pyflakes
    "F",
    # isort-like checks
    "I",
    # flake8-datetimez
    "DTZ",
    # flake8-import-conventions
    "ICN",
    # flake8-type-checking
    "TCH",
    # flake8-debugger
    "T10",
    # flake8-quotes
    "Q",
    # flake8-2020
    "YTT",
]

#https://docs.astral.sh/ruff/formatter/black/
[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.lint.isort]
known-first-party = ["infrahub"]

[tool.ruff.lint.pycodestyle]
max-line-length = 150

[tool.ruff.mccabe]
# Target max-complexity=10
max-complexity = 31

[tool.ruff.per-file-ignores]

"backend/infrahub/git/repository.py" = [
    "TCH003", # Pydantic needs UUID import to not only be available under TYPE_CHECKING clause
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
