---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "infrahub-helm.fullname" . }}-infrahub-server
  labels:
    service: infrahub-server
  {{- include "infrahub-helm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.infrahubServer.replicas | default 1 }}
  selector:
    matchLabels:
      service: infrahub-server
    {{- include "infrahub-helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        service: infrahub-server
      {{- include "infrahub-helm.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.infrahubServer.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - args: {{- toYaml .Values.infrahubServer.infrahubServer.args | nindent 12 }}
          env:
            - name: INFRAHUB_INTERNAL_ADDRESS
              value: "http://{{ include "infrahub-helm.fullname" . }}-infrahub-server.{{ .Release.Namespace }}.svc.{{ .Values.global.kubernetesClusterDomain }}:8000"
            - name: INFRAHUB_DB_ADDRESS
              value: "{{ include "infrahub-helm.fullname" . }}-database.{{ .Release.Namespace }}.svc.{{ .Values.global.kubernetesClusterDomain }}"
            - name: INFRAHUB_DB_PORT
              value: "{{ .Values.neo4j.services.neo4j.ports.bolt.port }}"
            - name: INFRAHUB_BROKER_ADDRESS
              value: "{{ include "infrahub-helm.fullname" . }}-message-queue.{{ .Release.Namespace }}.svc.{{ .Values.global.kubernetesClusterDomain }}"
            - name: INFRAHUB_BROKER_USERNAME
              value: {{ .Values.rabbitmq.auth.username | quote }}
            - name: INFRAHUB_BROKER_PASSWORD
              value: {{ .Values.rabbitmq.auth.password | quote }}
            - name: INFRAHUB_CACHE_ADDRESS
              value: "{{ include "infrahub-helm.fullname" . }}-cache.{{ .Release.Namespace }}.svc.{{ .Values.global.kubernetesClusterDomain }}"
            - name: INFRAHUB_CACHE_PORT
              value: "{{ (index .Values.cache.ports 0).port }}"
            {{- range $key, $value := .Values.infrahubServer.infrahubServer.env }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          {{- with .Values.infrahubServer.infrahubServer.envFromExistingSecret }}
          envFrom:
            - secretRef:
                name: {{ . }}
          {{- end }}
          image: {{ .Values.global.imageRegistry }}/{{ .Values.global.infrahubRepository }}:{{ .Values.global.infrahubTag | default .Chart.AppVersion }}
          imagePullPolicy: {{ default .Values.global.imagePullPolicy .Values.infrahubServer.infrahubServer.imagePullPolicy }}
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - curl -s -f -o /dev/null http://localhost:{{ (index .Values.infrahubServer.ports 0).port }}/api/schema/summary || exit 1
            failureThreshold: 20
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
          name: infrahub-server
          ports:
          {{- range .Values.infrahubServer.ports }}
          {{- if eq .name "infrahub-gui" }}
            - containerPort: {{ .targetPort }}
              protocol: TCP
              name: {{ quote .name }}
          {{- end }}
          {{- end }}
          resources: {}
          tty: true
          volumeMounts:
            - mountPath: /opt/infrahub/storage
              name: infrahub-server-storage-data
      restartPolicy: Always
      volumes:
        {{- if and .Values.infrahubServer.persistence.enabled }}
        - name: infrahub-server-storage-data
          persistentVolumeClaim:
            claimName: {{ tpl (.Values.infrahubServer.persistence.existingClaim | default (printf "%s-%s" (include "infrahub-helm.fullname" .) "infrahub-server-storage-data")) . }}
        {{- else }}
        - name: infrahub-server-storage-data
          emptyDir: {}
        {{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "infrahub-helm.fullname" . }}-infrahub-server
  labels:
    service: infrahub-server
  {{- include "infrahub-helm.labels" . | nindent 4 }}
spec:
  type: {{ .Values.infrahubServer.type }}
  selector:
    service: infrahub-server
  {{- include "infrahub-helm.selectorLabels" . | nindent 4 }}
  ports:
    {{- .Values.infrahubServer.ports | toYaml | nindent 4 }}

{{- if and .Values.infrahubServer.persistence.enabled (not .Values.infrahubServer.persistence.existingClaim) }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "infrahub-helm.fullname" . }}-infrahub-server-storage-data
  labels:
    service: infrahub-server-storage-data
  {{- include "infrahub-helm.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.infrahubServer.persistence.accessMode }}
  resources:
    requests:
      storage: {{ .Values.infrahubServer.persistence.size | quote }}
  {{- with .Values.infrahubServer.persistence.storageClassName }}
  storageClassName: {{ . }}
  {{- end }}
{{- end }}
