---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "infrahub-helm.fullname" . }}-infrahub-git
  labels:
    service: infrahub-git
  {{- include "infrahub-helm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.infrahubGit.replicas | default 1 }}
  selector:
    matchLabels:
      service: infrahub-git
    {{- include "infrahub-helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        service: infrahub-git
      {{- include "infrahub-helm.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.infrahubGit.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - args: {{- toYaml .Values.infrahubGit.infrahubGit.args | nindent 12 }}
          {{- with .Values.infrahubGit.infrahubGit.env }}
          env:
            {{- range $key, $value := . }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
          {{- end }}
          image: {{ .Values.global.imageRegistry }}/{{ .Values.global.infrahubRepository }}:{{ .Values.global.infrahubTag | default .Chart.AppVersion }}
          imagePullPolicy: {{ default .Values.global.imagePullPolicy .Values.infrahubGit.infrahubGit.imagePullPolicy }}
          name: infrahub-git
          resources: {}
          tty: true
          volumeMounts:
            - name: git-data
              mountPath: /opt/infrahub/git
            - name: config-volume
              mountPath: /config
      restartPolicy: Always
      volumes:
        {{- if and .Values.infrahubGit.persistence.enabled }}
        - name: git-data
          persistentVolumeClaim:
            claimName: {{ tpl (.Values.infrahubGit.persistence.existingClaim | default (printf "%s-%s" (include "infrahub-helm.fullname" .) "git-data")) . }}
        {{- else }}
        - name: git-data
          emptyDir: {}
        {{- end }}
        - name: config-volume
          configMap:
            name: {{ include "infrahub-helm.fullname" . }}-infrahub-config

{{- if and .Values.infrahubGit.persistence.enabled (not .Values.infrahubGit.persistence.existingClaim) }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "infrahub-helm.fullname" . }}-git-data
  labels:
    service: git-data
  {{- include "infrahub-helm.labels" . | nindent 4 }}
spec:
  accessModes:
    - {{ .Values.infrahubGit.persistence.accessMode }}
  resources:
    requests:
      storage: {{ .Values.infrahubGit.persistence.size | quote }}
  {{- with .Values.infrahubGit.persistence.storageClassName }}
  storageClassName: {{ . }}
  {{- end }}
{{- end }}
