:root {
  --background: var(--color-stone-100);
  --foreground: var(--color-stone-800);

  --border: var(--color-neutral-200);
  --border-strong: var(--color-neutral-300);

  --ring: var(--color-cyan-700);
  --ring-halo: --alpha(var(--ring) / 25%);

  --popover: --alpha(var(--color-stone-100) / 70%);

  --card: linear-gradient(to bottom, var(--color-stone-50) 0%, var(--color-white) 10%);
  --card-header: linear-gradient(to bottom, var(--color-white) 0%, var(--color-neutral-50) 100%);
  --card-header-foreground: var(--color-neutral-700);

  --card-shadow:
    inset 0 2px 0 rgb(255 255 255), inset 0 -1px 2px 1px rgb(0 0 0 / 0.03),
    0 1px 1px rgb(0 0 0 / 0.02);
  --card-header-shadow: inset 0 1px 0 rgb(255 255 255 / 0.85);
}

.dark {
  --popover: --alpha(var(--color-stone-900) / 70%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-border: var(--border);
  --color-border-strong: var(--border-strong);

  --color-ring: var(--ring);
  --color-ring-halo: var(--ring-halo);

  --color-popover: var(--popover);

  --background-image-card: var(--card);
  --background-image-card-header: var(--card-header);
  --color-card-header-foreground: var(--card-header-foreground);

  --shadow-card: var(--card-shadow);
  --shadow-card-header: var(--card-header-shadow);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border);
  }

  /* To prevent conflict with Separator component styling */
  hr {
    border-top-width: 0;
  }
}
