---
title: {{ title }} events
---

{% for event in events %}
## {{ event.event_name }}

**Type**: {{ event.event_type }}
{% if event.description -%}
**Description**: {{ event.description }}
{% endif -%}
**Uses node_kind filter for webhooks**: {{ "`true`" if event.infrahub_node_kind_event else "`false`" }}

| Key | Description |
|-----|-------------|
{% for field in event.fields -%}
| **{{ field.name }}** | {{ field.description | replace("\n", " ") }} |
{% endfor %}
{% if not loop.last %}

{% endif %}
{% endfor %}