<!-- markdownlint-disable-file MD041 -->
import Tabs from '@theme/Tabs';
import TabItem from '@theme/TabItem';

<!-- vale Infrahub.spelling = NO -->

<Tabs groupId="attribute-kind" queryString>
{%- for kind, params in kinds.items() | sort %}
<TabItem value="{{ kind }}">
| Parameter | Default |
| --------- | ------- |
{%   for name, default in params.items() -%}
| {{ name }} | {{ default }} |
{%   endfor -%}
</TabItem>
{%- endfor %}
</Tabs>
