# topology documentation: http://containerlab.srlinux.dev/lab-examples/min-clos/
name: edge_triangle

topology:
  kinds:
    srl:
      image: ghcr.io/nokia/srlinux
    linux:
      image: ghcr.io/hellt/network-multitool
    ceos:
      kind: ceos
      image: ceos:4.27.3F
  nodes:
{% for device in data.device.edges %}
    {{ device.node.name.value }}:
      kind: ceos
      type: ixrd2
{%  for intf in device.node.interfaces.edges %}
{%    if intf.node.role.value == "management" %}
{%      set management_ip = intf.node.ip_addresses.edges[0].node.address.value.split('/') %}
      mgmt_ipv4: {{ management_ip[0] }}
{%    endif %}
{%  endfor %}
      startup-config: configs/startup/{{ device.node.name.value }}.cfg
{% endfor %}
  links:
    - endpoints: ["atl1-edge1:eth1", "atl1-edge2:eth1"]
    - endpoints: ["atl1-edge1:eth2", "atl1-edge2:eth2"]
    - endpoints: ["ord1-edge1:eth1", "ord1-edge2:eth1"]
    - endpoints: ["ord1-edge1:eth2", "ord1-edge2:eth2"]
    - endpoints: ["jfk1-edge1:eth1", "jfk1-edge2:eth1"]
    - endpoints: ["jfk1-edge1:eth2", "jfk1-edge2:eth2"]
    - endpoints: ["atl1-edge1:eth4", "ord1-edge1:eth3"]
    - endpoints: ["atl1-edge1:eth3", "jfk1-edge1:eth3"]
    - endpoints: ["jfk1-edge1:eth4", "ord1-edge1:eth4"]
    - endpoints: ["atl1-edge2:eth4", "ord1-edge2:eth3"]
    - endpoints: ["atl1-edge2:eth3", "jfk1-edge2:eth3"]
    - endpoints: ["jfk1-edge2:eth4", "ord1-edge2:eth4"]
