---
apiVersion: v2
name: infrahub
description: A Helm chart to deploy Infrahub on Kubernetes
# A chart can be either an 'application' or a 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application
# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version: 2.7.3
# This is the version number of the application being deployed. This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "0.16.4"

dependencies:
  - name: neo4j
    version: "5.19.0"
    repository: "https://helm.neo4j.com/neo4j/"
    condition: neo4j.enabled
  - name: common
    repository: "oci://registry-1.docker.io/bitnamicharts"
    version: "2.23.0"
    condition: redis.enabled,rabbitmq.enabled
  - name: redis
    version: "19.5.2"
    repository: "oci://registry-1.docker.io/bitnamicharts"
    condition: redis.enabled
  - name: rabbitmq
    version: "14.4.1"
    repository: "oci://registry-1.docker.io/bitnamicharts"
    condition: rabbitmq.enabled
  - name: nfs-server-provisioner
    version: "1.8.0"
    repository: "https://kubernetes-sigs.github.io/nfs-ganesha-server-and-external-provisioner/"
    condition: nfs-server-provisioner.enabled
  - name: nats
    version: "1.1.12"
    repository: "https://nats-io.github.io/k8s/helm/charts/"
    condition: nats.enabled
  - name: traefik
    version: "28.2.0"
    repository: "https://traefik.github.io/charts"
    condition: traefik.enabled
