# yamllint disable rule:line-length
---
global:
  kubernetesClusterDomain: cluster.local
  infrahubRepository: opsmill/infrahub
  imagePullPolicy: IfNotPresent
  commonLabels: {}
  commonAnnotations: {}
  podLabels: {}

# ----------- Cache -----------
redis:
  enabled: true
  nameOverride: cache
  architecture: standalone
  auth:
    enabled: false
  master:
    persistence:
      enabled: false
    service:
      ports:
        redis: 6379

# ----------- Database -----------
neo4j:
  enabled: true
  nameOverride: database
  neo4j:
    name: "infrahub"
    edition: "community"
    password: "admin"
    minimumClusterSize: 1
    acceptLicenseAgreement: "no"
    resources: {}
  volumes:
    data:
      mode: "volume"
      volume:
        emptyDir: {}
  services:
    neo4j:
      enabled: false
      ports:
        bolt:
          enabled: true
          port: 7687
          targetPort: 7687
    admin:
      enabled: false
  config:
    dbms.security.auth_minimum_password_length: "4"
    dbms.security.procedures.unrestricted: apoc.*
  logInitialPassword: false

# ----------- Infrahub Task Worker -----------
infrahubTaskWorker:
  replicas: 2
  persistence:
    enabled: true
    size: 100Mi
    accessMode: ReadWriteMany
    storageClassName: nfs
  resources: {}
  infrahubTaskWorker:
    args:
      - prefect
      - worker
      - start
      - --type
      - infrahubasync
      - --pool
      - infrahub-worker
      - --with-healthcheck
    env:
      INFRAHUB_CACHE_PORT: 6379
      INFRAHUB_DB_TYPE: neo4j
      INFRAHUB_LOG_LEVEL: DEBUG
      INFRAHUB_PRODUCTION: "false"
      INFRAHUB_API_TOKEN: 06438eb2-8019-4776-878c-0941b1f1d1ec
      INFRAHUB_TIMEOUT: "60"
      INFRAHUB_GIT_REPOSITORIES_DIRECTORY: "/opt/infrahub/git"
      INFRAHUB_WORKFLOW_ADDRESS: prefect-server
      INFRAHUB_WORKFLOW_PORT: 4200
      PREFECT_API_URL: "http://prefect-server:4200/api"
      PREFECT_WORKER_QUERY_SECONDS: 3
      PREFECT_AGENT_QUERY_INTERVAL: 3
    imagePullPolicy: Always
    imageRegistry: registry.opsmill.io

# ----------- Infrahub Server -----------
infrahubServer:
  type: ClusterIP
  ingress:
    enabled: true
    hostname: infrahub-cluster.local
    annotations:
  persistence:
    enabled: true
    size: 100Mi
    accessMode: ReadWriteMany
    storageClassName: nfs
  resources: {}
  infrahubServer:
    args:
      - gunicorn
      - --config
      - /source/backend/infrahub/serve/gunicorn_config.py
      - -w
      - "2"
      - --logger-class
      - infrahub.serve.log.GunicornLogger
      - infrahub.server:app
    env:
      INFRAHUB_ALLOW_ANONYMOUS_ACCESS: "true"
      INFRAHUB_CACHE_PORT: 6379
      INFRAHUB_DB_TYPE: neo4j
      INFRAHUB_LOG_LEVEL: INFO
      INFRAHUB_PRODUCTION: "false"
      INFRAHUB_INITIAL_ADMIN_TOKEN: 06438eb2-8019-4776-878c-0941b1f1d1ec
      INFRAHUB_SECURITY_SECRET_KEY: 327f747f-efac-42be-9e73-999f08f86b92
      INFRAHUB_GIT_REPOSITORIES_DIRECTORY: "/opt/infrahub/git"
      INFRAHUB_WORKFLOW_ADDRESS: prefect-server
      INFRAHUB_WORKFLOW_PORT: 4200
      PREFECT_API_URL: "http://prefect-server:4200/api"
    imagePullPolicy: Always
    imageRegistry: registry.opsmill.io
  ports:
    - name: "interface"
      port: 8000
      targetPort: 8000

infrahubServerDbInitJob:
  enabled: false
  backoffLimit: 0
  infrahubServerDbInitJob:
    env:
      infrahubCachePort: 6379
      infrahubConfig: /config/infrahub.toml
  waitForDatabase:
    image:
      repository: busybox
      tag: latest

infrahubDemoData:
  enabled: false
  backoffLimit: 4
  imageRegistry: registry.opsmill.io
  env:
    INFRAHUB_API_TOKEN: 06438eb2-8019-4776-878c-0941b1f1d1ec
  command:
    - sh
    - -c
    - "infrahubctl schema load models/base --wait 30 && infrahubctl run models/infrastructure_edge.py && infrahubctl menu load models/base_menu.yml && infrahubctl repository add demo-edge https://github.com/opsmill/infrahub-demo-edge --read-only"

# ----------- Mesage Queue (Rabbit MQ) -----------
rabbitmq:
  enabled: true
  nameOverride: message-queue
  persistence:
    enabled: false
  auth:
    username: infrahub
    password: infrahub
  metrics:
    enabled: true

# ----------- NFS Server -----------
nfs-server-provisioner:
  enabled: true
  persistence:
    enabled: true
    size: 10Gi
  storageClass:
    create: true
    name: nfs

# ----------- NATS Server -----------
nats:
  enabled: false
  config:
    jetstream:
      enabled: true

# ------------- Prefect -------------
prefect-server:
  enabled: true
  server:
    image:
      prefectTag: 3.0.3-python3.12-kubernetes
    env:
      - name: PREFECT_UI_SERVE_BASE
        value: /
  serviceAccount:
    create: false
  postgresql:
    enabled: true
    primary:
      persistence:
        enabled: false

# -------------- Cloud --------------
traefik:
  enabled: false
cloud:
  enabled: false
