---
label: Repository config file
icon: tools
layout: default
---
# Repository configuration file

The repository configuration file allows you to define multiple resources that need to be imported into Infrahub.

The file should be formatted as a Yaml file, have the filename `.infrahub.yml` and should be stored at the root of the [repository](/topics/repository).

!!!info
See [this topic](/topics/infrahub-yml) for more details on the available repository configuration options
!!!
{% for property in properties %}
## {{property.title}}

**Description**: {{ property.description }}
**Key**: {{ property.name }}
**Type**: {{ property.type }}
**Item type**: {{ property.items_type }}
{% if property.items_format -%}**Item format**: {{ property.items_format }}{% endif %}
{% if property.items_type in definitions -%}

| Property | Type | Description | Mandatory |
| -------- | ---- | ----------- | --------- |
{% for item_name, item_property in definitions[property.items_type]["properties"].items() -%}
| {{ item_name }} | {{ item_property.type }} | {{item_property.description }} | {{ item_property.required }} |
{% endfor -%}
{% endif -%}
{% endfor -%}
