from __future__ import annotations

from typing import Any

from infrahub.core.models import HashableModel
from infrahub.core.constants import AllowOverrideType, BranchSupportType, HashableModelState
from infrahub.core.schema.attribute_parameters import AttributeParameters
from infrahub.core.schema.attribute_parameters import ListAttributeParameters
from infrahub.core.schema.attribute_parameters import NumberAttributeParameters
from infrahub.core.schema.attribute_parameters import NumberPoolParameters
from infrahub.core.schema.attribute_parameters import TextAttributeParameters
from infrahub.core.schema.computed_attribute import ComputedAttribute  # noqa: TC001
from infrahub.core.schema.dropdown import DropdownChoice  # noqa: TC001

