from typing import Optional, Any, TYPE_CHECKING

from infrahub.core.models import HashableModel
from infrahub.core.constants import HashableModelState
from infrahub.core.schema.dropdown import DropdownChoice  # noqa: TCH001

if TYPE_CHECKING:
    from infrahub.core.constants import BranchSupportType
